input {
    color: #ffff;
    padding: 15px;
    margin-top: 20px;
    width: 70%;
    background: transparent;
    border-radius: 30px;
    border: 2px solid #35b3a0;
    background-color: transparent;

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    padding-left: 10px;
    color: #ffff;
    opacity: 1; /* Firefox */
  }
.icons {
    color: #35b3a0;
    right: 22%;
    margin-top: 38px;
    position: absolute;
}